<div class="connexion">
  <h2>Connectez-vous</h2>
  <label>Votre email</label>
  <input [(ngModel)]="email" (keyup.enter)="login()" type="text"><br>
  <label>Votre mot de passe</label>
  <input [(ngModel)]="password" (keyup.enter)="login()" type="password">
  <div class="cookie-container">
    <input type="checkbox" id="rester-connecte"> <label for="rester-connecte" style="display: inline-block;">Rester connecter</label>
  </div>
  <ul>
    <li *ngFor="let error of errors">
      {{ error }}
    </li>
  </ul>

  <div class="white-round"></div>
</div>
