<div class="profile">
  <a href="/chat" class="cross"><img src="assets/images/close.png"></a>
  <div class="top">
    <div class="profil-header">
      <img src="assets/images/dog.png" class="animal-image">
      <span class="animal-name">Doggo</span>
    </div>
    <div class="profil-info">
      <div class="animal-info"><span class="label">Poids: </span>12 kg</div>
      <div class="animal-info"><span class="label">Age: </span>8 ans</div>
      <div class="animal-info"><span class="label">Date du dernier vaccin: </span>10/01/2018</div>
    </div>
  </div>
  <div class="bottom">
    <h2>Mon vétérinaire</h2>
    <div class="veto-info">
      <div class="left">
        Jean Dupont<br>
        <span class="orange">
        10 route de Paris<br>
        75001 PARIS<br>
        06 82 76 08 63<br>
          jdupont@gmail.com
        </span>
      </div>
      <div class="right">
        <img onclick="window.open('tel:+33682760863')" src="assets/images/phone.png">
      </div>
    </div>
  </div>
</div>
