/* You can add global styles to this file, and also import other style files */

.header {
  display: flex;
  background: #EF781A;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 30px;
}

.container {
  background: linear-gradient(#fff, #EDEDED);
  min-height: 80vh;
}

.container.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 70px;
}

.message {
  border-radius: 0;
  margin: 0 0 10px;
  padding: 0 20px 15px;
  position: relative;
  clear: both;
}
.message.to {
  background-color: #FFF;
  color: #595959;
  text-align: right;
  border-radius: 50px;
  padding: 5px 20px;
  display: inline-block;
  float: right;
  box-shadow: 0 3px 6px 1px #EEE;
}
.message.from {
  background-color: transparent;
  border-left: 3px solid #EF781A;
  color: #EF781A;
}

.message ul,
.message p {
  margin-bottom: 0;
}

.welcome .first-icons {
  display: flex;
  justify-content: space-between;
}

.welcome.icons p a {
  width: 30%;
  margin: 15px 0 0;
}

.send {
  position: relative;
}

.chat-input {
  background: #fff !important;
  border-radius: 30px !important;
}

.chat-input:focus,
.chat-input:active {
  border-color: #EF781A !important;
}

.send {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #EDEDED;
}

.send input {
  width: 92%;
  margin: 16px 4%;
}

.send button {
  position: absolute;
  bottom: 5px;
  right: 30px;
  background: transparent url("assets/images/send.png");
  background-size: 40% 70%;
  background-repeat: no-repeat;
  background-position: 100%;
  border: none;
}
